<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="Log" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\%property{LogName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Log" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Persist Security Info=False;User Id=sa;Password=Smsc408;Initial Catalog=WebPress3Io_Staging;Data Source=192.168.72.208;Min Pool Size=2;Max Pool Size=50" />
  </connectionStrings>
  <appSettings>
    <add key="PollIntervalSeconds" value="5000" />
    <add key="WebSocketEndPoint" value="ws://qa.press3.com/ConferenceWebSocket.pub" />
    <add key="NumberOfPublishers" value="1" />
    <add key="ListenerIp" value="127.0.0.1" />
    <add key="ListenerPort" value="5155" />
    <add key="QueueCountLimit" value="500"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>